<div id="attr_fields">
  <% I18n.available_locales.each do |locale| %>
    <% @resource.class.translated_attribute_names.each_with_index do |attr, i| %>
      <div class="panel panel-default <%= attr %> <%= locale %>" style="display:<%= i == 0 ? 'auto' : 'none' %>;">
        <div class="panel-heading">
          <% I18n.with_locale(locale) do %>
            <%= @resource.class.human_attribute_name(attr) %>

            <div class="pull-right text-muted">
              <small><i><%= Spree.t(:'i18n.this_file_language') %></i></small>

              <% if locale.to_s.include?('-') %>
                <img src="https://www.localeapp.com/assets/flags/regions/<%= locale.to_s.split('-').last %>.png">
              <% else %>
                <img src="https://www.localeapp.com/assets/flags/languages/<%= locale %>.png">
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="panel-body">
          <% if @resource.class.columns_hash[attr.to_s].type == :text %>
            <%= f.text_area "#{attr}_#{locale}", class: 'form-control', rows: 4 %>
          <% else %>
            <%= f.text_field "#{attr}_#{locale}", class: 'form-control' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <p class="no-translations" style="display: none">
    <%= Spree.t(:'translate.no_translations_for_criteria') %>
  </p>
</div>

<hr/>
